{% extends 'login.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}

    <div class="card auth-card bg-pattern">

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <a href="{% url 'index' %}">
                    <span><img class="logo-nav" src="{% static 'web/assets/extra-images/logo-dark.png' %}" alt="logo"></span>
                </a>
            </div>

            <form method="post" id="register-form" action="{% url 'register_employee' %}">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        Error: Email o contraseña incorrectos
                    </div>
                {% endif %}

                {% if password_error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        Error: Las contraseñas no coinciden
                    </div>
                {% endif %}

                <div id="incorrect-nif">
                </div>


                <div class="form-group mb-3">
                    <label for="id_nif">Nif</label>
                    {{ form.nif }}
                </div>

                <div class="form-group mb-3">
                    <label for="id_first_name">Nombre</label>
                    {{ form.first_name }}
                </div>

                <div class="form-group mb-3">
                    <label for="id_last_name">Apellidos</label>
                    {{ form.last_name }}
                </div>

                <div class="form-group mb-3">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>

                <div class="form-group mb-3">
                    <label for="id_password">Contraseña</label>
                    {{ form.password }}
                </div>

                <div class="form-group mb-3">
                    <label for="id_re_password">Repetir Contraseña</label>
                    {{ form.re_password }}
                </div>

                <br/>

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit"> Registrarse </button>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}"><b>Ir al login</b></a></p>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}

{% block extra_js %}

    <script>

        document.getElementById("register-form").addEventListener("submit", function () {
            if(!validateNifFormat(document.getElementById("id_nif"))) {
                event.preventDefault();
            }
        });


        function validateNifFormat(nif){
            var letras = ['T','R','W','A','G','M','Y','F','P','D','X','B','N','J','Z','S','Q','V','H','L','C','K','E'];

            if(!(/^\d{8}-?([A-Z]|[a-z])$/.test(nif))){
                document.getElementById("incorrect-nif").innerHTML = '{% include "alert-danger.html" with message="Error: formato incorrecto para un dni" %}';
                return false;
            }

            var letra = nif.charAt(8);
            if(letra == "-"){
                letra = nif.charAt(9);
            }

            if(letra.toUpperCase() != letras[(nif.substring(0, 8))%23]){
                document.getElementById("incorrect-nif").innerHTML = '{% include "alert-danger.html" with message="Error: formato incorrecto para un dni (La letra no coincide con el número)" %}';
                return false;
            }

            return true;
        }


    </script>

{% endblock %}