{% extends 'base.html' %}
{% load static %}

{% block title %}- Inicio{% endblock %}

{% block content %}




    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Mi Ficha en {{ centro.nombre }} </h4></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'empresa_detail' centro.empresa.pk %}">Empresa</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'centros' centro.empresa.pk %}">Centros</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'trabajadores' centro.empresa.pk %}">Trabajadores</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'documentos' centro.empresa.pk %}"> Mis Documentos</a></p>
                    </div>
                    {#                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">#}
                    {#                        <ol class="breadcrumb">#}
                    {#                            <li><a href="{% url 'inicio' %}">Inicio</a></li>#}
                    {#                        </ol>#}
                    {#                    </div>#}
                    <!-- /.col-lg-12 -->
                </div>
                {#                <!-- .row -->#}
                {#                <div class="row">#}
                {#                    <div class="col-md-8 col-md-offset-2">#}
                {#                        <div class="panel">#}
                {#                            <div class="table-responsive">#}
                {#                                <table class="table table-hover manage-u-table">#}
                {#                                    <thead>#}
                {#                                    <tr>#}
                {#                                        <th width="70" class="text-center">#</th>#}
                {#                                        <th>Inicio</th>#}
                {#                                        <th>Fin</th>#}
                {#                                        <th width="200">Opciones</th>#}
                {#                                    </tr>#}
                {#                                    </thead>#}
                {#                                    <tbody>#}
                {#                                    {% for f in jornadas %}#}
                {#                                        <tr>#}
                {#                                            <td class="text-center">{{ f.pk }}</td>#}
                {#                                            <td>{{ f.fecha_inicio }}</td>#}
                {#                                            <td>{{ f.fecha_fin }}</td>#}
                {#                                            <td>#}
                {#                                                <a href="">#}
                {#                                                    <button type="button"#}
                {#                                                            class="btn btn-primary btn-outline btn-circle btn-lg m-r-5">#}
                {#                                                        <i class="ti-eye"></i></button>#}
                {#                                                </a>#}
                {#                                                <a href="">#}
                {#                                                    <button type="button"#}
                {#                                                            class="btn btn-warning btn-outline btn-circle btn-lg m-r-5">#}
                {#                                                        <i#}
                {#                                                                class="ti-pencil-alt"></i></button>#}
                {#                                                </a>#}
                {#                                                <a href="">#}
                {#                                                    <button type="button"#}
                {#                                                            class="btn btn-danger btn-outline btn-circle btn-lg m-r-5">#}
                {#                                                        <i#}
                {#                                                                class="ti-trash"></i></button>#}
                {#                                                </a>#}
                {#                                            </td>#}
                {#                                        </tr>#}
                {#                                    {% endfor %}#}
                {#                                    </tbody>#}
                {#                                </table>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <!-- /row -->#}
                {#            </div>#}
                {#        </div>#}
                {#    </div>#}
                <div class="white-box">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-2 col-md-3  col-sm-12 col-xs-12 inbox-panel">
                            <div>
                                {% if not jornada %}
                                    {% if en_otras.count == 0 %}
                                        <button onclick="entrar();"
                                                class="btn btn-primary btn-block waves-effect waves-light">Entrar
                                        </button>
                                    {% else %}
                                        Tienes abierta otra sesión en otro centro o empresa. Cierra otras sesiones
                                        para que aparezca el botón.
                                    {% endif %}
                                {% else %}
                                    {% if not jornada.pausada %}
                                        <button onclick="pausar()"
                                                class="btn btn-custom btn-block waves-effect waves-light">Pausa
                                        </button>
                                    {% else %}
                                        <button onclick="continuar()"
                                                class="btn btn-success btn-block waves-effect waves-light">Continuar
                                        </button>
                                    {% endif %}
                                    <button onclick="salir()"
                                            class="btn btn-danger btn-block waves-effect waves-light">Salir
                                    </button>
                                {% endif %}
                                {#                                <div class="list-group mail-list m-t-20">#}
                                {#                                    <a href="#" class="list-group-item active">Inbox#}
                                {#                                    <span class="label label-rouded label-success pull-right">5</span></a>#}
                                {#                                    <a href="#" class="list-group-item ">Starred</a>#}
                                {#                                    <a href="#" class="list-group-item">Draft <span#}
                                {#                                            class="label label-rouded label-warning pull-right">15</span></a>#}
                                {#                                    <a href="#" class="list-group-item">Sent Mail</a>#}
                                {#                                    <a href="#" class="list-group-item">Trash#}
                                {#                                        <span class="label label-rouded label-default pull-right">55</span></a>#}
                                {#                                </div>#}
                                {#                                <h3 class="panel-title m-t-40 m-b-0">Labels</h3>#}
                                {#                                <hr class="m-t-5">#}
                                {#                                <div class="list-group b-0 mail-list">#}
                                {#                                    <a href="#" class="list-group-item"><span#}
                                {#                                        class="fa fa-circle text-info m-r-10"></span>Work</a> #}
                                {#                                    <a href="#" class="list-group-item">#}
                                {#                                        <span class="fa fa-circle text-warning m-r-10"></span>Family</a> #}
                                {#                                    <a href="#" class="list-group-item"><span#}
                                {#                                        class="fa fa-circle text-purple m-r-10"></span>Private</a> #}
                                {#                                    <a href="#" class="list-group-item"><span#}
                                {#                                        class="fa fa-circle text-danger m-r-10"></span>Friends</a> #}
                                {#                                    <a href="#" class="list-group-item"><span#}
                                {#                                        class="fa fa-circle text-success m-r-10"></span>Corporate</a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                            <div class="inbox-center">
                                <table class="table table-hover">
                                    <thead>
                                    {#                                    <tr>#}
                                    {#                                        <th width="30">#}
                                    {#                                            <div class="checkbox m-t-0 m-b-0 ">#}
                                    {#                                                ID#}
                                    {#                                            </div>#}
                                    {#                                        </th>#}
                                    {#                                        <th colspan="4">#}
                                    {#                                            <div class="btn-group">#}
                                    {#                                                <button type="button"#}
                                    {#                                                        class="btn btn-primary dropdown-toggle waves-effect waves-light m-r-5"#}
                                    {#                                                        data-toggle="dropdown" aria-expanded="false"> Filter <b#}
                                    {#                                                        class="caret"></b></button>#}
                                    {#                                                <ul class="dropdown-menu" role="menu">#}
                                    {#                                                    <li><a href="#fakelink">Read</a></li>#}
                                    {#                                                    <li><a href="#fakelink">Unread</a></li>#}
                                    {#                                                    <li><a href="#fakelink">Something else here</a></li>#}
                                    {#                                                    <li class="divider"></li>#}
                                    {#                                                    <li><a href="#fakelink">Separated link</a></li>#}
                                    {#                                                </ul>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="btn-group">#}
                                    {#                                                <button type="button"#}
                                    {#                                                        class="btn btn-default waves-effect waves-light  dropdown-toggle"#}
                                    {#                                                        data-toggle="dropdown" aria-expanded="false"><i#}
                                    {#                                                        class="fa fa-refresh"></i></button>#}
                                    {#                                            </div>#}
                                    {#                                        </th>#}
                                    {#                                        <th class="hidden-xs" width="100">#}
                                    {#                                            <div class="btn-group pull-right">#}
                                    {#                                                <button type="button" class="btn btn-default waves-effect"><i#}
                                    {#                                                        class="fa fa-chevron-left"></i></button>#}
                                    {#                                                <button type="button" class="btn btn-default waves-effect"><i#}
                                    {#                                                        class="fa fa-chevron-right"></i></button>#}
                                    {#                                            </div>#}
                                    {#                                        </th>#}
                                    {#                                    </tr>#}
                                    </thead>
                                    <tbody>
                                    {% for f in jornadas %}
                                        <tr class="unread">
                                            <td>
                                                <div class="checkbox m-t-0 m-b-0">
                                                    {{ f.pk }}
                                                </div>
                                            </td>
                                            <td class=""><i class="fa fa-map"></i></td>
                                            <td class="">{{ f.fecha_inicio }}</td>
                                            <td class="max-texts">
                                                {{ f.fecha_fin }}
                                            </td>
                                            <td class="">
                                                {{ f.lat_inicio }}/{{ f.lng_inicio }}
                                                {% if f.fecha_fin %}
                                                    <i class="fa fa-stop"></i>
                                                {% else %}
                                                    {% if f.pausada %}
                                                        <i class="fa fa-pause"></i>
                                                    {% else %}
                                                        <i class="fa fa-play"></i>
                                                    {% endif %}
                                                {% endif %}

                                            </td>
                                            <td class="text-right"> {{ f.total_horas }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {#                            <div class="row">#}
                            {#                                <div class="col-xs-7 m-t-20"> Showing 1 - 15 of 200</div>#}
                            {#                                <div class="col-xs-5 m-t-20">#}
                            {#                                    <div class="btn-group pull-right">#}
                            {#                                        <button type="button" class="btn btn-default waves-effect"><i#}
                            {#                                                class="fa fa-chevron-left"></i></button>#}
                            {#                                        <button type="button" class="btn btn-default waves-effect"><i#}
                            {#                                                class="fa fa-chevron-right"></i></button>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        {#        var x = document.getElementById("demo");#}
        {#        function getLocation() {#}
        {#            if (navigator.geolocation) {#}
        {#                navigator.geolocation.getCurrentPosition(showPosition);#}
        {#            } else {#}
        {#                x.innerHTML = "Geolocation is not supported by this browser.";#}
        {#            }#}
        {#        }#}

        function enviarEntrada(position) {
            {#            x.innerHTML = "Latitude: " + position.coords.latitude +#}
            {#                "<br>Longitude: " + position.coords.longitude;#}
            try {
                console.log(position);
                var diflat = position.coords.latitude - {{ centro.lat }};
                var diflng = position.coords.longitude - {{ centro.lng }};

                var test = "ND";
                if (Math.abs(diflat) > 0.0005 || Math.abs(diflng) > 0.0005) {
                    test = prompt("¿Porqué estas fuera de la oficina?");
                }
                if (test == null) {
                    return;
                }
            } catch (error) {
                console.log(error)
                test = "";
            }


            var datos = {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "pk":{{ centro.pk }},
                "lat": position.coords.latitude,
                "lng": position.coords.longitude,
                "comentario": test
            };

            $.post("{% url 'entrar'%}", datos, function (data, status) {
                if (data.result == "error") {
                    alert("Debe salir de otros centros de trabajo primero.");
                }
                location.reload();

            });
        }
        function entrar() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(enviarEntrada);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        function enviarSalida(position) {

            try {
                var diflat = position.coords.latitude - {{ centro.lat }};
                var diflng = position.coords.longitude - {{ centro.lng }};

                var test = "ND";
                if (Math.abs(diflat) > 0.0005 || Math.abs(diflng) > 0.0005) {
                    test = prompt("¿Porqué estas fuera del centro de trabajo?");
                }
                if (test == null) {
                    return;
                }

            } catch (error) {
                console.log(error)
                test = "";
            }


            var datos = {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "pk":{{ centro.pk }},
                "lat": position.coords.latitude,
                "lng": position.coords.longitude,
                "comentario": test
            };
            $.post("{% url 'salir'%}", datos, function (data, status) {
                location.reload();

            });
        }
        function salir() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(enviarSalida);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        function enviarPausa(position) {
            try {
                var diflat = position.coords.latitude - {{ centro.lat }};
                var diflng = position.coords.longitude - {{ centro.lng }};

                var test = "ND"
                if (Math.abs(diflat) > 0.0005 || Math.abs(diflng) > 0.0005) {
                    test = prompt("¿Para qué es la pausa?");
                }
                if (test == null) {
                    return;
                }
            } catch (error) {
                console.log(error)
                test = "";
            }

            var datos = {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "pk":{{ centro.pk }},
                "lat": position.coords.latitude,
                "lng": position.coords.longitude,
                "comentario": test
            };
            $.post("{% url 'pausar'%}", datos, function (data, status) {
                location.reload();

            });
        }


        function pausar() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(enviarPausa);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function enviarContinuar(position) {
            try {
                
                var diflat = position.coords.latitude - {{ centro.lat }};
                var diflng = position.coords.longitude - {{ centro.lng }};

                var test = "ND";
                if (Math.abs(diflat) > 0.0005 || Math.abs(diflng) > 0.0005) {
                    test = prompt("¿Porqué estás fuera del centro de trabajo?");
                }
                if (test == null) {
                    return;
                }
            } catch (error) {
                console.log(error)
                test = "";
            }
            var datos = {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "pk":{{ centro.pk }},
                "lat": position.coords.latitude,
                "lng": position.coords.longitude,
                "comentario": test
            };
            $.post("{% url 'continuar'%}", datos, function (data, status) {
                location.reload();

            });
        }
        function continuar() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(enviarContinuar);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
{% endblock %}