{% extends 'base.html' %}
{% load static %}


{% block title %}- Inicio{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Mis Centros de Trabajo</h4></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="">Empresas</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="">Centros</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="">Trabajadores</a></p>
                    </div>
                     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <p><a href=""> Mis Documentos</a></p>
                    </div>
{#                    <div class="col-lg-7 col-sm-4 col-md-4 col-xs-12">#}
{#                        <ol class="breadcrumb">#}
{#                            <li><a href="{% url 'inicio' %}">Inicio</a></li>#}
{#                        </ol>#}
{#                    </div>#}
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel">
                        <div class="panel-heading">Horario Reparto Semanal
                                <a href="{% url 'horario_reparto_create' %}" style="float: right">
                                    <button type="button"
                                            class="btn btn-success btn-lg m-r-5"><i
                                            class="ti-plus"></i></button>
                                </a>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover manage-u-table">
                                    <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Hora inicio</th>
                                        <th>Hora fin</th>
                                        <th width="1%">Editar</th>
                                        <th width="1%">Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for f in horario_reparto %}
                                        <tr>
                                            <td>{{ f.dia_semana }}</td>
                                            <td>{{ f.inicio }}</td>
                                            <td>{{ f.fin}}</td>
                                            <td>
                                                <a href="{% url 'horario_reparto_edit' f.pk %}">
                                                    <button type="button"
                                                            class="btn btn-warning btn-lg m-r-5">
                                                        <i class="ti-settings"></i></button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'horario_reparto_delete' f.pk %}">
                                                    <button type="button"
                                                            class="btn btn-danger btn-lg m-r-5">
                                                        <i class="ti-trash"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>

{% endblock %}