{% extends 'base.html' %}
{% load static tags_admincliente %}

{% block title %}- Inicio{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Trabajadores de {{ empresa.nombre }}</h4>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'empresa_detail' empresa.pk %}">Empresa</a></p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><a href="{% url 'centros' empresa.pk %}">Centros</a></p>
                    </div>
                    {% if user|is_admin:empresa or user.is_staff %}
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <p><a href="{% url 'trabajadores' empresa.pk %}">Trabajadores</a></p>
                        </div>
                    {% endif %}
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <p><a href="{% url 'documentos' empresa.pk %}"> Mis Documentos</a></p>
                    </div>
                    {#                    <div class="col-lg-9 col-sm-4 col-md-4 col-xs-12">#}
                    {#                        <ol class="breadcrumb">#}
                    {#                            <li><a href="{% url 'inicio' %}">Inicio</a></li>#}
                    {#                        </ol>#}
                    {#                    </div>#}
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel">

                            <div class="panel-heading">Trabajadores
                                {% if empresa.trabajador_set.all.count < empresa.limite_trabajadores %}
                                    <a href="{% url 'crearTrabajadores' empresa.pk %}" style="float: right">
                                        <button type="button"
                                                class="btn btn-success btn-lg m-r-5"><i
                                                class="ti-plus"></i></button>
                                    </a>
                                {% endif %}
                            </div>


                            <div class="table-responsive">
                                <table class="table table-hover manage-u-table">
                                    <thead>
                                    <tr>
                                        <th width="70" class="text-center">#</th>
                                        <th>Nif</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>situacion</th>
                                        <th width="1%">Ver</th>
                                        <th width="1%">Contratos</th>
                                        <th width="1%">Archivos</th>
                                        <th width="1%">Jornadas</th>
                                        <th width="1%">Horario</th>
                                        <th width="1%">Editar</th>
                                        <th width="1%">Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for f in trabajadores %}
                                        {% with  f|get_situacion  as situacion %}
                                            <tr>
                                                <td class="text-center">{{ f.user.pk }}</td>
                                                <td>{{ f.user.username }}</td>
                                                <td>{{ f.user.first_name }}</td>
                                                <td>{{ f.get_stado.get_estado_display }}</td>
                                                <td>{% if not situacion or situacion.fecha_fin %}
                                                    <i class="fa fa-stop"></i>
                                                {% else %}
                                                    {% if situacion.pausada %}
                                                        <i class="fa fa-pause"></i>
                                                    {% else %}
                                                        <i class="fa fa-play"></i>
                                                    {% endif %}
                                                    {{ situacion.centro }}
                                                {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'trabajador_detail' f.pk %}">
                                                        <button type="button"
                                                                class="btn btn-primary btn-lg m-r-5">
                                                            <i class="ti-eye"></i></button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'contratos_list'  f.pk %}">
                                                        <button type="button"
                                                                class="btn btn-success btn-lg m-r-5">
                                                            <i class="ti-file"></i></button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'documentosOtroUser' f.pk %}" style="color: white">
                                                        <button type="button"
                                                                class="btn btn-light btn-lg m-r-5">
                                                            <i class="ti-files"></i></button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'trabajador_jornadas' f.pk %}">
                                                        <button class="btn btn-info btn-lg m-r-5">
                                                            <i class="ti-calendar"></i></button>
                                                    </a>

                                                </td>
                                                <td>
                                                    <a href="{% url 'horario'  f.pk %}">
                                                        <button type="button"
                                                                class="btn btn-info btn-lg m-r-5">
                                                            <i
                                                                    class="ti-calendar"></i></button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <button type="button"
                                                                class="btn btn-warning btn-lg m-r-5">
                                                            <i
                                                                    class="ti-settings"></i></button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <button type="button"
                                                                class="btn btn-danger btn-lg m-r-5">
                                                            <i
                                                                    class="ti-trash"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>

{% endblock %}