{% extends 'guia/index.html' %}
{% load static %}
{% block titulo %}Mi Comida Vegana - Tu guia para encontrar restaurantes veganos y
        vegetarianos.{% endblock %}

        {% block description %}{% endblock %}

        {% block keywords %}{% endblock %}
    {% block cannonical_link %}
        <link rel="canonical"
              href="https://micomidavegana.com/principal/{% block canonical_url %}{% endblock %}">{% endblock %}


{% block content %}

			<!-- 
			=============================================
				Blog-vs2 page
			============================================== 
			-->


			<article class="blog-vs2-page blog-details">
				<div class="container">
					<div class="row">
						<div class="blog-images-categories imges-categories col-md-offset-2 col-md-8 col-xs-12">
					        <div class="left-blog">
						    	<div class="img images-hover">
									<img src="{{STATIC_URL}}web/imagenes/blog/pat-moreno.jpg" alt="Pat-Moreno-Fono-Inicio" class="tran3s">
									<div class="round-border float_right">10 /04 /19</div>
								</div><!-- /.img -->
								<div class="text-blog">
								    <h3><a href="#" class="tran3s">Maternidad</a></h3>
                                    <p>El 3 de Marzo se inauguró la exposición "maternidad" en la Cafeteria La Mala Mujer, ubicada en el barrio Madrileño de Lavapies.</p>
                                    <p>Aquí os dejamos la entrevista que le hicimos a la compañera Pat Moreno.</p>
                                    <div class="recipess">
                                    <h5>¿Qué te ha impulsado a dibujar?</h5>
                                    <p>Quizá pueda parecer típico, pero dibujo desde muy pequeña. Hacía bastantes cosas, me inventaba historias protagonizadas por niñas o animales y hacia marca páginas, llaveros... (dibujaba sobre papel y los plastificada, todo lo hacía yo con cosas que tenía a mano). Todavía tengo cosas de esas guardadas. Poco a poco fui interesandome más a nivel profesional, incluso di clases particulares de dibujo cuando no iba ni a bachiller, por ir preparandome para entrar en bellas artes, y hablo cuando todavía existía una prueba de acceso bastante dificil para entrar a la facultad, pero la quitaron tiempo antes de que pudiera hacer la pau..</p>
                                    <h5>¿Cómo definirías tu estilo?</h5>
                                    <p>Ha ido variando con los años, lo considero realista, pero no quiero cerrarme a hacer sólo eso.</p>
                                    <h5>¿Crees que está bien valorado ser artista en España?</h5>
                                    <p>No, creo que no está valorada ninguna profesión artística ni creativa. Y es una pena, porque el diseño, por ejemplo, está por todas partes, marca la diferencia en cosas muy básicas, como la carta de un restaurante. Muchas de las que veo son ilegibles, trabajo que se solucionaría con un diseñador, pero no se tienen en cuenta. </p>
                                    <h5>¿Y dentro de ser artistas veganas?</h5>
                                    <p>Creo que es algo muy nuevo y por el momento personalmente noto que me tienen más en cuenta personas que forman parte del movimiento, comprometidas.</p>
                                    <div class="float_left img-box"><img src="{{STATIC_URL}}web/imagenes/blog/pat1.jpg" alt="img" height="300px" width="100%"></div>
									<div class="float_right img-box"><img src="{{STATIC_URL}}web/imagenes/blog/pat7.jpg" alt="img" height="300px" width="100%"></div>
                                    <div class="col-lg-12"><p></p></div>
                                    <h5>¿Qué opinas de la relación entre el arte y el antiespecismo?</h5>
                                    <p>Creo que el arte es una manera ideal para intentar concienciar a la gente y por eso  decidí darle un uso exclusivo en mi activismo por los derechos animales. El arte tiene que hacer pensar al espectador, tiene que provocarle algo de alguna manera.</p>
                                    <h5>¿Crees que hay muchas artistas veganas?</h5>
                                    <p>No conozco muchas, pero sé que las hay, y cada vez habrá más. Y en el mundo del tatuaje cada vez hay más estudios que se unen en usar productos no testados y veganos.</p>
                                    <h5>¿Por qué decidiste exponer en Mala mujer?</h5>
                                    <p>Es curioso, fui un día a hacer chapas para la protectora de la que soy miembro, Las Miradas del Olvido, siempre me encargo yo del tema artistico, y como no teníamos suficiente material decidí usar dibujos antiguos para meterlos en las chapas. Joan se interesó por los dibujos, empezamos a hablar, le comenté lo de mi Maternidad y surgió exponer allí. Creo que es un sitio ideal para mi obra. Me gusta exponerla en sitios antiespecistas, creo que no tiene sentido mostrarla en otros sitios.</p>
                                    <h5>¿Qué es lo que más te impulsa a dedicarte al arte?</h5>
                                    <p>No sé explicarlo, no puedo estar un día sin dibujar, siempre tengo que tener algún proyecto entre manos.</p>
                                    <img src="{{STATIC_URL}}web/imagenes/blog/pat5.jpg" alt="images" class="tran3s"><br>

                                    <h5>¿Por qué maternidad?</h5>
                                    <p>En la industria cárnica separamos a las madres de los hijos. Ellas son violadas para poder tener una cria y poder dar leche, cuando nace el bebé, lo separan para que no pueda beberse la leche. En la caza furtiva se separan familias, se dejan animales huérfanos, raptan crías para venderlas. Con el mascotismo lo mismo, se crían perros, gatos, etc. para venderlos de cachorros y se separan de los padres, asumiendo nosotros ese papel. Constantemente decidimos cómo y cuándo romper una familia, pero la familia humana se quiere indestructible, se cuida, se respeta. No lo veo justo, no tenemos derecho a opinar sobre sus vidas, por eso la Maternidad. Los represento como me gustaría verles algún día. Libres, viviendo la vida que quieran con sus hijos, con su familia.</p>
                                    <h5>¿Tienes algún proyecto que no hayas podido cumplir o que te gustaría hacer en un futuro?</h5>
                                    <p>Empecé una serie sobre palomas. Hacía una diferenciación entre las palomas salvajes y las palomas de concurso o de fantasía. Estas últimas son palomas que se han cruzado durante muchos años, a cada cual más monstruosa (hay quien las ve preciosas, a mi algo creado a posta por egoísmo nunca me parecerá bonito, lo siento) y viven cautivas en jaulas hasta que llegan los concursos, las sacan, las lucen y ganan dinero y premios con ellas. Me propongo proyectos largos y se me van quedando en el camino. </p>
                                    <h5>¿Quieres contarnos algo más?</h5>
                                    <p>Bueno, algo que me gusta contar es que mi Maternidad empezó siendo un proyecto de dibujo en un formato considerable, el tamaño era más grande de A2. Quise hacerlo así por volver a mis inicios, yo empecé dibujando retratos en pequeñito y pasé a dibujar en A2 dibujos en los que mezclaba animales y personas y poco a poco me centre en los animales. Al empezar el primer dibujo de la maternidad (las ratas, los animales que más amo en el mundo) me di cuenta de que era imposible abarcar un proyecto tan grande en semejante tamaño, así que lo dejé a un lado y ajusté el formato. Al tiempo retome ese dibujo y ahora tengo la misma versión de las ratas pero en dos tamaños diferentes.</p>
									<div class="clear_fix"></div>
								    <div class="recipess recipess-bottom">
                                    <div class="float_left img-box"><img src="{{STATIC_URL}}web/imagenes/blog/pat3.jpg" alt="img" height="300px" width="100%"></div>
									<div class="float_right img-box"><img src="{{STATIC_URL}}web/imagenes/blog/pat2.jpg" alt="img" height="300px" width="100%"></div>
                                    <div class="col-lg-12">
                                                                            <p>La exposición estará disponible hasta finales de Mayo, no os perdáis la oportunidad de ver esta gran exposición.</p>

                                        <div class="col-lg-6">
                                    <p style="margin-bottom: -30px;">¿Quieres ver más de Pat Moreno? Síguela en sus redes sociales.</p>

									<div class="link-details">
										<ul>
											 <li><a href="https://www.facebook.com/patmorenoart/" class="tran3s" target="_blank"><i
                                class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/patmorenoart/" class="tran3s" target="_blank"><i
                                class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>

										</ul>
									</div><!-- /.link-details -->
                                        </div>
                                        <div class="col-lg-6">
                                 <p style="margin-bottom: -30px;">Os dejamos también las redes sociales de La Mala Mujer.</p>
                                  <div class="link-details">
										<ul>
											 <li><a href="https://www.facebook.com/lamalamujerfeminista/" class="tran3s" target="_blank"><i
                                class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/explore/locations/1020725887/la-mala-mujer/?hl=es" class="tran3s" target="_blank"><i
                                class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>

										</ul>
                                  </div>
                                      </div>
									</div><!-- /.link-details
	        					</div><!-- /.text-blog -->
							</div><!-- /.left-blog -->
					    </div><!-- /.blog-images-categories -->
					</div><!-- /row -->
				</div><!-- /container -->
			</article><!-- /news-vs2-page -->
    <br><br>

{% endblock %}
