{% extends 'guia/index.html' %}
{% load static %}
{% block extrajs_header %}
    <!-- Modernizr -->
	<script src="{% static 'web/js/modernizr.js' %}"></script>
{% endblock %}
{% block content %}
    
    <!-- SubHeader =============================================== -->
    <section class="header-video">
    <div id="hero_video">
        <div id="sub_content">
            <h1>Comida Vegana a domicilio</h1>
            <p>
                Disfruta de los mejores platos veganos cerca de ti.
            </p>

              <form action="{% url 'domicilio' %}" method="get" class="BusquedaForm">
                <div id="custom-search-input">
                    <div class="input-group">
                        {{ form.cp }}
                        <span class="input-group-btn">
                        <input type="submit" class="btn_search" value="submit">
                        </span>
                    </div>
                </div>
            </form>


        </div><!-- End sub_content -->
    </div>
    <img src="{% static 'web/img/video_fix.png' %}" alt="" class="header-video--media" data-video-src="" data-teaser-source="{% static 'web/video/intro' %}" data-provider="" data-video-width="1920" data-video-height="960">
    <div id="count" class="hidden-xs">
        <ul>
            <li><span class="number">2650</span> Restaurantes</li>
            <li><span class="number">5350</span> Pedidos entregados</li>
            <li><span class="number">12350</span> Personas contentas</li>
        </ul>
    </div>
    </section><!-- End Header video -->
    <!-- End SubHeader ============================================ -->

            
    <div class="white_bg">
    <div class="container margin_60">

        <div class="main_title">
            <h2 class="nomargin_top">Restaurantes VEGANOS mejor valorados</h2>
            <p>
                Los mejores restaurantes veganos de tu ciudad.
            </p>
        </div>

        <div class="row">
            {% for r in restaurantes %}
            <div class="col-md-6">
                <a href="{% url 'menu' r.nombre_slug %}" class="strip_list">
                <div class="ribbon_1">Popular</div>
                    <div class="desc">
                        <div class="thumb_strip">
                            <img src="{% static 'web/img/thumb_restaurant.jpg' %}" alt="">
                        </div>
                        <div class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                        </div>
                        <h3>{{ r.nombre }}</h3>
                        <div class="type">
                            Mexican / American
                        </div>
                        <div class="location">
                            135 Newtownards Road, Belfast, BT4. <span class="opening">Opens at 17:00</span>
                        </div>
                        <ul>
                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
                            <li>Delivery<i class="icon_check_alt2 ok"></i></li>
                        </ul>
                    </div><!-- End desc-->
                </a><!-- End strip_list-->
            </div><!-- End col-md-6-->
            {% endfor %}
        </div><!-- End row -->   
        
        </div><!-- End container -->
        </div><!-- End white_bg -->
        
       <div class="high_light">
      	<div class="container">
      		<h3>Quieres formar parte de mi comida vegana</h3>
            <p>2000 Restaurantes confian en nosotros</p>
            <a href="{% url 'domicilio' %}">Contacto</a>
        </div><!-- End container -->
      </div><!-- End hight_light -->
                  
    <section class="parallax-window" data-parallax="scroll" data-image-src="{% static 'web/img/menu-thumb-10.jpg' %}" data-natural-width="1200" data-natural-height="600">
    <div class="parallax-content">
        <div class="sub_content">
            <i class="icon_mug"></i>
            <h3>We also deliver to your office</h3>
            <p>
                Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
            </p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End Content =============================================== -->
    
    <div class="container margin_60">
      <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Work with Us</h2>
            <p>
                Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
        </div>
      	<div class="row">
            <div class="col-md-4 col-md-offset-2">
            	<a class="box_work" href="submit_restaurant.html">
                <img src="{% static 'web/img/submit_restaurant.jpg' %}" width="848" height="480" alt="" class="img-responsive">
                <h3>Submit your Restaurant<span>Start to earn customers</span></h3>
                <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
                <div class="btn_1">Read more</div>
                </a>
            </div>
            <div class="col-md-4">
            	<a class="box_work" href="submit_driver.html">
                <img src="{% static 'web/img/delivery.jpg' %}" width="848" height="480" alt="" class="img-responsive">
				<h3>We are looking for a Driver<span>Start to earn money</span></h3>
                <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
                <div class="btn_1">Read more</div>
                </a>
            </div>
      </div><!-- End row -->
      </div><!-- End container -->

{% endblock %}

{% block extrajs %}
<!-- SPECIFIC SCRIPTS -->
<script src="{% static 'web/js/video_header.js' %}"></script>
<script>

$(document).ready(function() {
	'use strict';
   	  HeaderVideo.init({
      container: $('.header-video'),
      header: $('.header-video--media'),
      videoTrigger: $("#video-trigger"),
      autoPlayVideo: true
    });

});
</script>
{% endblock %}

