{% extends 'guia/index.html' %}
{% load static tags_carta %}

    {% block extracss %}
    <!-- Radio and check inputs -->
    <link href="{% static 'web/css/skins/square/grey.css' %}" rel="stylesheet">

    {% endblock %}
{% block extrajs_header %}
{% endblock %}

    {% block content %}

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_short.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
	<div id="sub_content">
    	<h1>24 resultados en tu zona</h1>
        <div><i class="icon_pin"></i> 135 Newtownards Road, Belfast, BT4 1AB</div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

    <div class="collapse" id="collapseMap">
		<div id="map" class="map"></div>
	</div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">

		<div class="col-md-3">
			<!--<p>
				<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
			</p>-->
			<div id="filters_col">
				<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters <i class="icon-plus-1 pull-right"></i></a>
				<div class="collapse" id="collapseFilters">
					<div class="filter_type">
                    	<!--<h6>Distance</h6>
                        <input type="text" id="range" value="" name="range">-->
						<h6>Todas las cocinas</h6>
						<ul>


                            {% get_tipo_cocina restaurantes_cp as tipo_cocina %}

                            {% for t in tipo_cocina %}

                                {% if t.1 != 0 %}

                                    <li><label><input  onclick="categoriaSeleccionada({{ t.0.pk }})" class="categorias_comida" type="checkbox" id="categoria{{ t.0.pk }}" value="{{ t.0.pk }}" name="categoria_check" /> {{ t.0.nombre }}<small>({{ t.1 }})</small><i class="color_1"></i></label></li>


                                {% endif %}

                             {% endfor %}
						</ul>
					</div>
                    <div class="filter_type">
                    	<!--<h6>Distance</h6>
                        <input type="text" id="range" value="" name="range">-->
						<h6>Dietas</h6>
						<ul>

                            {% get_tipo_dieta restaurantes_cp as tipo_dieta %}

                            {% for t in tipo_dieta %}

                                {% if t.1 != 0 %}

                                    <li><label><input  onclick="categoriaSeleccionada({{ t.0.pk }})" class="categorias_dieta" type="checkbox" id="categoria_dieta{{ t.0.pk }}" value="{{ t.0.pk }}" name="categoria_check" /> {{ t.0.nombre }}<small>({{ t.1 }})</small><i class="color_1"></i></label></li>


                                {% endif %}

                             {% endfor %}
                            <li><label><input onclick="categoriaSeleccionada()" id="sin_gluten" type="checkbox" name="sin_gluten" value="sin_gluten" class="">Sin gluten</label></li>

						</ul>

					</div>
					<div class="filter_type">
						<h6>Opciones</h6>
						<ul class="nomargin">
							<li><label><input onclick="categoriaSeleccionada()" id="recoger" type="checkbox" name="recoger" value="recoger" class="">Para recoger</label></li>
							<li><label><input onclick="categoriaSeleccionada()" id="envio_gratis" type="checkbox" name="envio_gratis" value="envio_gratis" class="">Envio Gratis</label></li>
							<!--<li><label><input type="checkbox" class="icheck">Distance 10Km</label></li>
							<li><label><input type="checkbox" class="icheck">Distance 5Km</label></li>-->
						</ul>

					</div>
                    <div class="filter_type">
                            <h6>Ordenar</h6>
                            <ul class="nomargin">
                                <li><label><input onclick="categoriaSeleccionada()" id="mejor_valorados" type="checkbox" name="mejor_valorados" value="mejor_valorados" class="">Mejor Valorados</label></li>
                                <li><label><input onclick="categoriaSeleccionada()" id="hora_entrega" type="checkbox" name="hora_entrega" value="hora_entrega" class="">Hora entrega</label></li>
                                <li><label><input onclick="categoriaSeleccionada()" id="destacado" type="checkbox" name="recomendados" value="recomendados" class="">Recomendados</label></li>
                                <li><label><input onclick="categoriaSeleccionada()" id="gastos_de_envio" type="checkbox" name="gastos_de_envio" value="gastos_de_envio" class="">Gastos de envio</label></li>
                                <li><label><input onclick="categoriaSeleccionada()" id="pedido_minimo" type="checkbox" name="pedido_minimo" value="pedido_minimo" class="">Pedido minimo</label></li>
                                <li><label><input onclick="categoriaSeleccionada()" id="distancia" type="checkbox" name="distancia" value="distancia" class="">Distancia</label></li>

                            </ul>

                        </div>
				</div><!--End collapse -->
			</div><!--End filters col-->
		</div><!--End col-md -->

		<div class="col-md-9">

       <!-- <div id="tools">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="styled-select">
							<select name="sort_rating" id="sort_rating">
								<option value="" selected>Sort by ranking</option>
								<option value="lower">Lowest ranking</option>
								<option value="higher">Highest ranking</option>
							</select>
						</div>
					</div>
					<div class="col-md-9 col-sm-9 hidden-xs">
						<a href="list_page.html" class="bt_filters"><i class="icon-list"></i></a>
					</div>
				</div>
			</div><!--End tools -->
        <div id="">
        	<div class="row" id="filtro_categoria_comida">
                {% for r in restaurantes_cp %}
            	<div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                	<a class="strip_list grid" href="{% url 'menu' r.nombre_slug %}">
                    	<div class="ribbon_1">Popular</div>
                    	<div class="desc">
							<div class="thumb_strip">
								<img src="/static/media/{{ r.foto_perfil }}" alt="">
							</div>
							<div class="rating">
								<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
							</div>
							<h3>{{ r.nombre }}</h3>
							<div class="type">
								{{ r.destacado }} / {{ r.valoracion_total }} {{ r.coste_resparto_cliente }}
							</div>
							<div class="location">
								{{ r.direccion }} <br><span class="opening">Opens at 17:00.</span> Minimum order: $15
							</div>
							<ul>
								<li>Take away<i class="icon_check_alt2 ok"></i></li>
								<li>Delivery<i class="icon_check_alt2 ok"></i></li>
							</ul>
						</div>
                    </a><!-- End strip_list-->
                </div><!-- End col-md-6-->
                {% endfor %}
            </div><!-- End row-->
            <a href="#0" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Load more...</a>
		</div><!-- End col-md-9-->

	</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->
{% endblock %}

{% block extrajs %}

<!-- SPECIFIC SCRIPTS -->
<script  src="{% static 'web/js/cat_nav_mobile.js' %}"></script>
<script>$('#cat_nav').mobileMenu();</script>


        <script>


        function categoriaSeleccionada(pk) {

            var tipo_cocina = [];
            var tipo_dieta = [];
            var cp = {{ cp }};
            var recoger = "";
            var sin_gluten = "";
            var mejor_valorados = "";
            var destacado = "";
            var gastos_de_envio = "";
            var envio_gratis = "";

             if( $('#recoger').is(':checked') ) {
                recoger = 'True';

            }else {
                 recoger = 'None';
             }

             if( $('#envio_gratis').is(':checked') ) {
                envio_gratis = 'True';

            }else {
                 envio_gratis = 'None';
             }

              if( $('#destacado').is(':checked') ) {
                destacado = 'True';

            }else {
                 destacado = 'None';
             }

              if( $('#mejor_valorados').is(':checked') ) {
                mejor_valorados = 'True';

            }else {
                 mejor_valorados = 'None';
             }

             if( $('#sin_gluten').is(':checked') ) {
                sin_gluten = 'True';

            }else {
                 sin_gluten = 'None';
             }

             if( $('#gastos_de_envio').is(':checked') ) {
                gastos_de_envio = 'True';

            }else {
                 gastos_de_envio = 'None';
             }

            //Recorre todos los input de categorias comida.
            $(".categorias_comida").each(function() {
              //Si está seleccionado muestra su value
              if($(this).prop('checked')) {
                tipo_cocina.push($(this).prop('value'));
              }
            });

             //Recorre todos los input de categorias dieta.
            $(".categorias_dieta").each(function() {
              //Si está seleccionado muestra su value
              if($(this).prop('checked')) {
                tipo_dieta.push($(this).prop('value'));
              }
            });

             $.get("{% url 'filtro_categorias_comida' %}",
               {
                 'csrfmiddlewaretoken': '{{csrf_token}}',
                 'tipo_cocina':tipo_cocina,
                 'tipo_dieta':tipo_dieta,
                 'recoger':recoger,
                 'mejor_valorados':mejor_valorados,
                 'sin_gluten':sin_gluten,
                 'destacado':destacado,
                 'gastos_de_envio':gastos_de_envio,
                 'envio_gratis':envio_gratis,
                 'cp':cp,

               },
                function (data, status) {
                 if (data.result=='ok'){
                      $('#filtro_categoria_comida').html(data.html);
                 }
                }
            )
        }

        </script>



{% endblock %}
