{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Administración {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'web/assets/extra-images/logo_little.png' %}">

        <!-- Plugins css -->
{#        <link href="{% static 'web/assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />#}
        {% block libs_css %}
        {% endblock %}

        <!-- App css -->
        <link href="{% static 'web/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/custom.css' %}" rel="stylesheet" type="text/css" />


        {% block extra_css %}
        {% endblock %}

    </head>
{#    class="left-side-menu-dark" #}

    {% if request.user.extrauserdata.darkmode %}
        <body class="left-side-menu-dark">
    {% else %}
        <body>
    {% endif %}

        <!-- Begin page -->
        <div id="wrapper">

            {# Topbar #}
            {% block topbar %}
            <div class="navbar-custom">
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="/static/media/{{ user.extrauserdata.photo.url }}" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                {{ user.username }} <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                            <a href="{% url 'account_settings' %}" class="dropdown-item notify-item">
                                <i class="fe-user"></i>
                                <span>Perfil</span>
                            </a>

                            <div class="dropdown-divider"></div>

                            <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Cerrar Sesión</span>
                            </a>

                        </div>
                    </li>

                </ul>

                {# Logo #}
                <div class="logo-box">
                    <a href="{% url 'dashboard' %}" class="logo text-center">
                        <span class="logo-lg">
                            <img src="{% static 'web/assets/extra-images/logo-light.png' %}" alt="" height="40">
                        </span>
                        <span class="logo-sm">
                            <img src="{% static 'web/assets/extra-images/logo_little-light.png' %}" alt="" height="24">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                </ul>

            </div>
            {% endblock %}
            {# Topbar end #}

            {# Left Sidebar #}
            {% block sidebar %}

            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="dropdown notification-list">
                                <a class="dropdown-toggle nav-company mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="/static/media/{{ user.employee.company.photo.url }}" alt="company-image" class="rounded-circle">
                                    <span class="pro-user-name ml-1">
                                        {{ user.employee.company.name }} {% if request.user.employee.rol == 1 %} <i class="mdi mdi-chevron-down"></i> {% endif %}
                                    </span>
                                </a>
                                {% if request.user.employee.rol == 1 %}
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                        <a href="{% url 'employee_create' user.employee.company.pk %}" class="dropdown-item notify-item">
                                            <i class="mdi mdi-worker"></i>
                                            <span>Agregar empleado</span>
                                        </a>

                                        <a href="{% url 'project_create' %}" class="dropdown-item notify-item">
                                            <i class="mdi mdi-file-tree"></i>
                                            <span>Agregar Proyecto</span>
                                        </a>

                                        <a href="{% url 'center_create' %}" class="dropdown-item notify-item">
                                            <i class="fas fa-network-wired"></i>
                                            <span>Agregar Centro de Trabajo</span>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a href="{% url 'company_settings' user.employee.company.pk %}" class="dropdown-item notify-item">
                                            <i class="mdi mdi-settings"></i>
                                            <span>Configuración</span>
                                        </a>

                                    </div>
                                {% endif %}
                            </li>

                            <li>
                                <a href="{% url "dashboard" %}">
                                    <i class="ti-dashboard"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "timer" %}">
                                    <i class="mdi mdi-account-clock"></i>
                                    <span> Fichar </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "projects" %}">
                                    <i class="mdi mdi-file-tree"></i>
                                    <span> Proyectos </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "documents" %}">
                                    <i class="mdi mdi-file-document-box-multiple"></i>
                                    <span> Documentos </span>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>
            {% endblock %}
            {# Left Sidebar end #}

            {% block content %}
            {% endblock %}

        </div>


        <!-- Vendor js -->
        <script src="{% static 'web/assets/js/vendor.min.js' %}"></script>

        {% block extra_js %}
        {% endblock %}

        <script src="{% static 'web/assets/js/app.min.js' %}"></script>

    </body>
</html>