{% load static %}
{% load tags_landing %}
{% load django_simple_cookie_consent_tags %}

{% get_hero_section as hero_section %}
{% get_about_us as about_us %}
{% get_services as services %}
{% get_download_apps as download_apps %}
{% get_partners as clients %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Workday++</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="icon" href="{% static 'web/assets/extra-images/logo_little.png' %}" type="image/png" sizes="16x16">

        <!-- App css -->
        <link href="{% static 'web/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'landing/assets/css/styles.css' %}">

        <link rel="stylesheet" href="{% static 'django_simple_cookie_consent' %}css/cookieconsent.min.css">
        <script src="{% static 'django_simple_cookie_consent' %}cookieconsent.js"></script>
        {% display_cookie_consent %}

        {% block extra_css %}
        {% endblock %}

    </head>

    <body>

        {# ----- Navigation ----- #}
        {% block navigation %}
            <header class="header">
                <nav class="navbar navbar-expand-lg fixed-top bg-transparent affix">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img class="logo-nav" src="{% static 'web/assets/extra-images/logo-light.png' %}" alt="logo" class="img-fluid">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="ti-menu"></span>
                        </button>

                        <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto menu">
                                <li><a href="{% url 'index' %}" class="page-scroll"> Inicio</a></li>
                                <li><a href="{% url 'index' %}#about" class="page-scroll">Sobre Workday</a></li>
                                <li><a href="{% url 'index' %}#services" class="page-scroll">Servicios</a></li>
                                <li><a href="{% url 'index' %}#contact" class="page-scroll">Contacto</a></li>
                                <li><a href="{% url 'login' %}" class="page-scroll">Iniciar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        {# ----- Navigation end ----- #}


            {# ----- Hero section ----- #}
            <section class="ptb-100 bg-image overflow-hidden" image-overlay="10">
                <div class="hero-bottom-shape-two" style="background: url( {% static 'landing/assets/img/hero-bottom-shape-2.svg' %})no-repeat bottom center"></div>

                <div class="container">
                    <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
                        <div class="col-md-12 col-lg-6">
                            <div class="hero-slider-content text-white py-5">
                                <h1 class="text-white">{{ hero_section.title }}</h1>
                                <p class="lead">{{ hero_section.subtitle }}</p>

                                <div class="action-btns mt-3">
                                    <a href="{% url 'register' %}" class="btn btn-brand-03 btn-rounded mr-3">Inicia la prueba gratuita </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-5">
                            <div class="img-wrap">
                                <img src="{% static 'media/'  %}{{ hero_section.image.url }}" alt="app image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# ----- Hero section end ----- #}

            {% block content %}

            {# ----- About Us section end ----- #}
            <div id="about" class="ptb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-12">
                            <div class="section-heading text-center mb-5">
                                <h2>{{ about_us.title }}</h2>
                                <p>{{ about_us.description }}</p>
                            </div>
                        </div>
                        {% for service in services %}
                            <div id="services" class="col-md-6 col-lg-4">
                                <div class="card border-0 single-promo-card single-service single-promo-hover p-2 mt-4 shadow">
                                    <div class="card-body">
                                        <div class="pb-2 text-center">
                                            <span class="{{ service.icon }} icon-size-md color-secondary"></span>
                                        </div>
                                        <div class="pt-2 pb-3 text-center">
                                            <h5>{{ service.title }}</h5>
                                            <p class="mb-0">{{ service.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# ----- About Us section end ----- #}

            {# ----- Download section ----- #}
            <section class="bg-image ptb-100" image-overlay="8">
                <div class="background-image-wraper" style="background: url( 'static/media/{{ download_apps.image.url }}' )no-repeat center center / cover fixed; opacity: 1;"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-8">
                            <div class="section-heading text-center mb-1 text-white">
                                <h2 class="text-white">{{ download_apps.title }}</h2>
                                <p>{{ download_apps.description }}</p>
                                <div class="action-btns mt-4">
                                    <ul class="list-inline">
                                        {% if download_apps.url_windows %}
                                            <li class="list-inline-item">
                                                <a href="{{ download_apps.url_windows }}" class="d-flex align-items-center app-download-btn btn btn-brand-02 btn-rounded">
                                                    <span class="fab fa-windows icon-size-sm mr-3"></span>
                                                    <div class="download-text text-left">
                                                        <small>Descarga de</small>
                                                        <h5 class="mb-0">Windows</h5>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if download_apps.url_ios %}
                                            <li class="list-inline-item">
                                                <a href="{{ download_apps.url_ios }}" class="d-flex align-items-center app-download-btn btn btn-brand-02 btn-rounded">
                                                    <span class="fab fa-apple icon-size-sm mr-3"></span>
                                                    <div class="download-text text-left">
                                                        <small>Descarga de</small>
                                                        <h5 class="mb-0">App Store</h5>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if download_apps.url_android %}
                                            <li class="list-inline-item">
                                                <a href="{{ download_apps.url_android }}" class="d-flex align-items-center app-download-btn btn btn-brand-02 btn-rounded">
                                                    <span class="fab fa-google-play icon-size-sm mr-3"></span>
                                                    <div class="download-text text-left">
                                                        <small>Descarga de</small>
                                                        <h5 class="mb-0">Google Play</h5>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# ----- Download section end ----- #}

            {# ----- Clients section ----- #}
            <section class="client-section ptb-100">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-8">
                            <div class="section-heading text-center">
                                <h2>Nuestros clientes</h2>
                            </div>
                        </div>
                        <div id="clients" class="col-md-12">
                            <div class="clients-wrap">
                                <ul id="clients-list" class="clearfix">
                                    {% for client in clients %}
                                        <li>
                                            <img src="/static/media/{{ client.logo.url }}" alt="{{ client.name }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# ----- Clients section end ----- #}

            {# ----- Contact ----- #}

            <section id="contact" class="contact-us-section ptb-100">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-12 pb-3 message-box d-none">
                            <div class="alert alert-danger"></div>
                        </div>
                        <div class="col-md-12 col-lg-8 mb-5 mb-md-5 mb-sm-5 mb-lg-0">
                            <div class="contact-us-form gray-light-bg rounded p-5">
                                <h4>Formulario de contacto</h4>
                                <form action="{% url 'index' %}" method="POST" id="contact" class="contact-us-form" novalidate="true">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.subject }}
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.message }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <button type="submit" class="btn btn-brand-02 disabled" id="btnContactUs" style="pointer-events: all; cursor: pointer;">
                                                Enviar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {# ----- Contact end ----- #}

        {% endblock %}

        {% block footer %}

            {# ----- Footer section ----- #}
            <footer class="footer-bottom py-3 gray-light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            <div class="copyright-wrap small-text">
                                <p class="mb-0">Copyright © 2020 All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="terms-policy-wrap text-lg-right text-md-right text-left">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a class="small-text" href="#">Política de privacidad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            {# ----- Footer section end ----- #}

        {% endblock %}

        <div class="go-top">
            <img src="{% static 'landing/assets/img/up_arrow.png' %}">
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="{% static 'landing/assets/js/main.js' %}"></script>

    </body>
</html>