{% extends 'index.html' %}
{% load static %}
{% load tags_landing %}
{% load django_simple_cookie_consent_tags %}
{% get_hero_section as hero_section %}

{% block title %}- Política de privacidad{% endblock %}

{% block content %}

    {# ----- Privacy Policy ----- #}
        <div id="about" class="ptb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="section-heading mb-5">
                            <h2>Política de Privacidad y Cookies</h2>
                            <p>En Workday, accesible desde http://workday.dreamsappscreative.es/, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene tipos de información que se recopila y registra por día laboral y cómo la usamos.</p>

                            <p>Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en contactarnos.</p>

                            <p>Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web con respecto a la información que compartieron y / o recopilaron en la jornada laboral. Esta política no es aplicable a ninguna información recopilada fuera de línea o por canales que no sean este sitio web.</p>

                            <p>Consentimiento</p>
                            <p>Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus términos.</p>

                            <p>Información que recopilamos</p>
                            <p>La información personal que se le solicita que proporcione y los motivos por los que se le solicita que la proporcione, se le aclararán en el momento en que le solicitemos que brinde su información personal.</p>

                            <p>Si nos contacta directamente, podemos recibir información adicional sobre usted, como su nombre, dirección de correo electrónico, número de teléfono, el contenido del mensaje y / o los archivos adjuntos que nos puede enviar, y cualquier otra información que elija proporcionar.</p>

                            <p>Cuando se registra para una Cuenta, podemos solicitar su información de contacto, incluidos elementos como nombre, nombre de la empresa, dirección, dirección de correo electrónico y número de teléfono.</p>

                            <p>Cómo usamos su información</p>
                            <p>Utilizamos la información que recopilamos de varias maneras, que incluyen:</p>

                            <p>Proporcionar, operar y mantener nuestro sitio web.</p>
                            <p>Mejorar, personalizar y expandir nuestro sitio web</p>
                            <p>Comprenda y analice cómo usa nuestro sitio web</p>
                            <p>Desarrollar nuevos productos, servicios, características y funcionalidades.</p>
                            <p>Comuníquese con usted, ya sea directamente oa través de uno de nuestros socios, incluso para el servicio al cliente, para proporcionarle actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promoción.</p>
                            <p>Enviarle correos electrónicos</p>
                            <p>Encuentra y evita el fraude.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ----- Privacy Policy end ----- #}

{% endblock %}