{% extends 'index.html' %}
{% load static %}

{% block title %}- Política de privacidad{% endblock %}

{% block content %}

    {# ----- Privacy Policy ----- #}
        <div id="about" class="ptb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="section-heading text-center mb-5">
                            <h2>Política de Privacidad y Cookies</h2>
                            <p>En Workday, accesible desde http://workday.dreamsappscreative.es/, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene tipos de información que se recopila y registra por día laboral y cómo la usamos.

                                Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en contactarnos.

                                Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web con respecto a la información que compartieron y / o recopilaron en la jornada laboral. Esta política no es aplicable a ninguna información recopilada fuera de línea o por canales que no sean este sitio web.

                                Consentimiento
                                Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus términos.

                                Información que recopilamos
                                La información personal que se le solicita que proporcione y los motivos por los que se le solicita que la proporcione, se le aclararán en el momento en que le solicitemos que brinde su información personal.

                                Si nos contacta directamente, podemos recibir información adicional sobre usted, como su nombre, dirección de correo electrónico, número de teléfono, el contenido del mensaje y / o los archivos adjuntos que nos puede enviar, y cualquier otra información que elija proporcionar.

                                Cuando se registra para una Cuenta, podemos solicitar su información de contacto, incluidos elementos como nombre, nombre de la empresa, dirección, dirección de correo electrónico y número de teléfono.

                                Cómo usamos su información
                                Utilizamos la información que recopilamos de varias maneras, que incluyen:

                                Proporcionar, operar y mantener nuestro sitio web.
                                Mejorar, personalizar y expandir nuestro sitio web
                                Comprenda y analice cómo usa nuestro sitio web
                                Desarrollar nuevos productos, servicios, características y funcionalidades.
                                Comuníquese con usted, ya sea directamente oa través de uno de nuestros socios, incluso para el servicio al cliente, para proporcionarle actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promoción.
                                Enviarle correos electrónicos
                                Encuentra y evita el fraude</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ----- Privacy Policy end ----- #}

{% endblock %}